<!DOCTYPE html>

{% extends 'shop/basic.html' %}

{% block title %} Title of About {% endblock %}

{% block body %}

<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About Us!</h1>
        <p class="lead">We at My awsome cart think for our customers first, because our first moto is to deliver quality and satisfied product to the customers. And we are the one of the most best online E-plarform nowdays. And we are growing at very fast rate and become the one of the most valuable company.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container. It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

{% endblock %}